*{
    margin: .5%;
    border-radius: .5em;
    color: rgb(255, 42, 0);
    font-weight: 600;
    
}
header, nav, footer{
    width: 70%;
    height: 50px;
}

div{
    width: 70%;
    height: 350px;
    display: flex;
}

section{
    width: 65%;
    height: 350px;
    border-radius: .5em;
    background-color: rgb(168, 157, 171);
}

aside{
    width: 30%;
    height: 350px;
    background-color: rgb(168, 157, 171);
}

article{
    width: 90%;
    height: 35px;
    background-color: rgb(230, 219, 233);
    margin-bottom: 1.5em;

}

article.cubo{
    border-radius: 0em;
    margin-bottom: 10%;
    width: 30%;
    height: 120px;
}

header{
    background-color: rgb(168, 157, 171);
}

nav{
    background-color: rgb(168, 157, 171);
}
footer{
    margin-top: 1em;
    background-color: rgb(168, 157, 171);
}
