th{
    border-radius: 100%;
    border-color: rgba(128, 128, 128, 0.275); /*Cambia el color del borde */
    border-width: 4px; /*Cambia el grosor del borde*/
    border-style: solid; /*Cambia el estilo del borde*/
    border-radius: .5em; /*Cambia lo redondeado de las esquinas del borde*/

}

*{
    font-size: 25px;
}

.primero p:nth-child(2n){
    background-color: aquamarine;
}
.segundo p:nth-last-child(2n+1){
    background-color: aquamarine;
}

.cuarto p:first-child{
    background-color: blue;
}

.cuarto p:last-child{
    background-color: red;
}

.quinto p:nth-of-type(2){
    background-color: blueviolet;
}

.sexto p:nth-last-of-type(2){
    background-color: blueviolet;
}

.septimo a:link p{
    background-color: red;
}

.septimo a:visited p{
    background-color: green;
}

button:hover{
    background-color: gold;
}

button{
    background-color: goldenrod;
    border-radius: 1em;
    width: 20%;
    margin: 5%;
}

.noveno button:active{
    background-color: red;
}

.decimo button:focus{
    background-color: rgb(48, 32, 218);
    color: white;

}

  p:lang(en) {
    color: blue;
  }
  
  p:lang(es) {
    color: red;
  }
  